body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    display: flex;
    margin-top: 50px;       
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
   
}